
p {
color: #b0c4de;
font-family: Helvetica, Arial, sans-serif;
text-align: center;
}

h1 {
  font-family: Georgia, "Times New Roman", serif;
}

body {
  background-color: #add8e6;
  }

  #nav {
    padding: 0;
    list-style-type: none;
  }

  #nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  }

  #nav a:link, #nav a:visited {
    display: block;
    color: #ffffff;
    background-color: #add8e6;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
  }

  #nav a:hover, #nav a:active {
    background-color: #7a991a;
  }

  img {
    border: none;
  }
