p {
color: #778899;
font-family: 'Trirong', Georgia, "Times New Roman", serif;
line-height: 1.5rem;
}

h1 {
  color: #778899;
  font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  line-height: 3rem;
  font-size: 4rem;
}

body {
  background-color: #f0f8ff;
  }

  #container {
    width: 90%;
    margin: 1px auto 1px auto;
  }

  #nav {
    padding: 0;
    list-style-type: none;
  }

  #nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #b0c4de;
  }

  #nav a:link, #nav a:visited {
    display: block;
    color: #ffffff;
    font-family: 'Arya', Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    background-color: #778899;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    padding: 4px;
  }

  #nav a:hover, #nav a:active {
    background-color: #c0c0c0;
  }

  img {
    border: none;
  }
