
p {
color: #778899;
font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #778899;
  font-family: Georgia, "Times New Roman", serif;
  font-weight: lighter;
  font-style: italic;
}

body {
  background-color: #f0f8ff;
  }

  #container {
    width: 95%;
    margin: 0 auto 0 auto;
  }

  #nav {
    padding: 0;
    list-style-type: none;
  }

  #nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid ##b0c4de;
  }

  #nav a:link, #nav a:visited {
    display: block;
    color: #ffffff;
    font-size: 0.8em;
    background-color: #778899;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
  }

  #nav a:hover, #nav a:active {
    background-color: #c0c0c0;
  }

  img {
    border: none;
  }
